In [13]:
import sqlite3

In [14]:
#creating a database
conn=sqlite3.connect("sms.db")

In [15]:
#for executing a query 
cur=conn.cursor()

In [16]:
#FOR CREATING A TABLE

cur.execute('''
            CREATE TABLE TRANS(
            TID INT,
            SID INT,
            CID INT,
            METHOD VARCHAR(40)
            
            
            )
            ''')
conn.commit()

In [18]:
cur.execute('''
             DROP TABLE STUDENT1
            
            
            ''')